<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codimiracle.web.notification.middleware.mapper.SubscriptionMapper">
    <resultMap id="PersistentResultMap" type="com.codimiracle.web.middleware.user.pojo.po.UserAccountPart">
        <id column="id" property="id"/>
        <result column="user_id" property="userId" />
        <result column="type" property="type" />
        <result column="balance" property="balance" />
        <result column="updated_at" property="updatedAt" />
        <result column="created_at" property="createdAt" />
    </resultMap>

</mapper>